
.header-bar {
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
}

.header-logo {
    margin-right: 80px;
}

.nav-li {
    display: flex;
    width: 800px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    color: inherit;
    text-decoration: none;
}

.nav-text {
    font-size: 19px;
    font-weight: 600;
}