.main {
    margin-top: 20px;
}

.main_screen_img_box {
    position: relative;
    display: flex;
}

.slogan_box {
    position: absolute;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
}

.slogan_main {
    font-weight: 700;
    color: #fff;
    font-size: 41px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.slogan_sub {
    margin-top: 30px;
    font-size: 27px;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.blank {
    width: 150px;
    background-color: white;
}

.main_screen_img {  
    z-index: -3;
}
